/* Ajuste para garantir que a tabela ocupe o espaço correto */
table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
th, td { padding: 10px; border-bottom: 1px solid #ddd; text-align: center; }
.text-start { text-align: left; }
.bg-primary { background-color: #004a80; }
.bg-success { background-color: #28a745; }
.bg-warning { background-color: #ffc107; }
.opacity-60 { opacity: 0.6; cursor: not-allowed; }
.btn-active { opacity: 1 !important; cursor: pointer !important; }
