/* Estilos para inputs e selects */
.styles_container__vlAK4 {
  width: 100%;
}

.styles_container__vlAK4 input,
.styles_container__vlAK4 select {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #000;
  outline-color: #000;
}

.styles_container__vlAK4 input.styles_error__N5n4g,
.styles_container__vlAK4 select.styles_error__N5n4g {
  border-color: rgb(243, 76, 76);
}

.styles_container__vlAK4 input:disabled,
.styles_container__vlAK4 select:disabled {
  background-color: #757575;
  opacity: 0.7;
}

.styles_container__vlAK4 p {
  text-align: start;
  color: rgb(243, 76, 76);
  font-weight: 500;
}

/* Estilos para modal */
.styles_modal__O8Lmo {
  outline: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .styles_modal__O8Lmo {
    margin: 2rem;
    padding: 2rem;
  }
}

.styles_modalOverlay__s37Hp {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 25, 23, 0.9);
}

.styles_content__C6CAn {
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #505050;
  position: relative;
}

.styles_content__C6CAn .styles_closeBtn__FRD04 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  color: red;
}

/* Estilos para container de upload */
.styles_container__lBiD0 {
  border-radius: 0.5rem;
  border: 4px dashed rgb(103, 104, 90);
  padding: 2rem;
  height: 190px;
  width: 450px;
}

.styles_container__lBiD0 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilos para seção de nota fiscal */
.styles_container__95z__>section {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(220, 38, 38);
}

.styles_container__95z__ fieldset {
  border-radius: 0.25rem;
  border: 1px solid rgb(220, 38, 38);
  padding: 1rem 0.5rem;
}

.styles_container__95z__ fieldset legend {
  padding: 0 2rem 0 0.5rem;
}

/* Estilos para tabela */
.styles_container__2UcOS table {
  border-collapse: separate;
  border-spacing: 0 4px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.styles_container__2UcOS table thead {
  background-color: rgb(170, 170, 170);
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
}

.styles_container__2UcOS table tbody tr {
  background: #eee;
}

.styles_container__2UcOS table tbody tr:nth-child(2n) {
  background: #ddd;
}

.styles_container__2UcOS table td,
.styles_container__2UcOS table th {
  padding: 5px;
}
